<ion-header>
  <ion-toolbar>
    <ion-title>Point Blank Cheats</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-circle-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-title class="centro">Gerador de Cash</ion-title>
    <img class="centroimg" src="https://i.imgur.com/16MjZ35.png">
  </ion-toolbar>

  <div class="centro">
    <ion-button (click)="loading()">
      Baixar
      <ion-icon slot="end" name="cloud-download-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
