<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="meio">
      Point Blank
      <ion-label class="a2">v1.35</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="assets" routerLink="/pbcash" >
    <ion-thumbnail class="img-cont">
      <img class="imgred" src="https://play-lh.googleusercontent.com/IGOlY-TMU0cGW_I8EFKBkLACxPLu1TQqbqaqx7NUsGMyjNWIO1NdhwdBrq-71pUAHw" alt="Pb Logo">
    </ion-thumbnail>
    <ion-label class="linha">
      Cash Generator
    </ion-label>
  </ion-item>

  <div class="assets2">
    <ion-button expand="block" fill="clear" shape="round" color="dark">Login</ion-button>
    <ion-button expand="block" fill="clear" shape="round" color="dark">Sign-Up</ion-button>
  </div>
</ion-content>
