<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Compras de CASH
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item button (click)="testClick()" routerLink="/pbcash" >
    <ion-thumbnail>
      <img src="https://cdn.sistemawbuy.com.br/arquivos/b7f36453f415a540dffee82d02b0ae0c/produtos/ZA6PU2/pb_rs130-5510.jpg">
    </ion-thumbnail>
    <ion-label class="linha">
      POINT BLANK HACK CASH INFINITO
    </ion-label>
  </ion-item>
</ion-content>
